{% extends "BlogApp/base.html" %}

{% load static %}

{% block content %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <p id='head1' class='header'>Aquí Encontrarás</p>
    <p id='head2' class='header'>justo</p>
    <p id='head3' class='header'>para vos</p>
    <p id='head4' class='header'>las mejores noticias compiladas por vos</p>
    <p id='head5' class='header'>Bienvenidos al Blog de Prueba</p>
    <button onclick="location.href='navbar'">Continue</button>

{% endblock %}