{% extends "BlogApp/base.html" %}

{% load static %}

{%block navbar%}
    {% include 'BlogApp/navbar.html' %}
{%endblock navbar%}

{% block content %}
<section class="container">
    {% for post in posts %}
        <div class= "col-md-4 mb-4">
            <div class="card">
                <div class="imgbx">
                {% if post.image %}
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.image.url}}" alt="" style="width: 80%;" ></div> 
                {% endif %}
                </div>
                <!-- <div class="card-body"> -->
                    <h5 class="section-heading-upper" style="color:rgb(81, 57, 126);">{{post.title}}</h5> 
                    {% for category in post.categories.all %}
                            <a href="{% url 'category' category.slug %}" class="ui button tertiary {{ category.color }}">{{ category.name }}</a>
                    {% endfor %}
                    
                    <spam style="font-size: 12px"> Publicado: {{ post.created_at|date:"d/m/Y" }} por {{post.reporter}}</spam>
                    <br>
                    <spam class="section-heading-lover" style="color:rgb(14, 3, 3);">{{ post.content|truncatewords:20 }}</spam>
                <!-- </div> -->
            </div>   
        </div>
        <br> 
    {% endfor %}
    </section>   
{% endblock %}   