/*Carta desplegable*/
@import url('https://fonts.googleapis.com/css2?family=oppins:wght@300;400;500;600;700;800;900&display=swap');
*
{ /*texto*/
    font-family: 'Poppins', sans-serif;
}

.boton
{
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content {
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.3s ease;
}

.card-container {
  height: 500px;
}

.card:hover .post-content {
  max-height: 150px;
}

/*final de la carta desplegable*/